Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
SQLAlchemy==2.0.35
PyMySQL==1.1.1
cryptography==43.0.1
python-dotenv==1.0.1
Werkzeug==3.0.4
google-auth==2.35.0
requests==2.32.3
Pillow==10.4.0
